$corprimaria : #fff;
$corsecundaria :#EFEFEF;
$btcurso : #01A02A;
$btcursoh: #016B21;

* {margin: 0; padding: 0;}

body{ /*max-width: 100%; padding: 0% 15%;*/}

.content{
	nav.menu-bar{
		display: inline-flex;
		height: 76px;

		.logo{ 
			display: inline;
			background: $corsecundaria;
		}
		.pesquisar{ display: inline;}
		.perfil{ display: inline;}
	}


	section#galeria{
		background:$corprimaria ;
		max-width: 100%;
		height: 200px;
		display: block;
		overflow: hidden;
		box-shadow: #999 0 0 15px;
		margin: 50px auto;
		section#buttons{
			display: none;
			position: absolute;
			top: 30%;
			left:20%;
			z-index: 500;
			a {
				background: #333;
				max-width: 40px;
				height: 40px;
				display: inline-block;
				text-align: center;
				line-height: 40px;
				font: 22pt arial,"Helvetica Neue", Helvetica;
				color: $corprimaria;
				text-decoration: none;
				opacity: 0.7;
			}a:hover{
				background: #555;
			} 
		}
		ul{
			list-style: none;
			display: table;
			position: relative;
		}

		ul li{
			max-width: 100%;
			height: 200px;
			display: inline-block;
			position: relative;
			img{
				width: 100%;
				height:100%;
			}
		
			.slider-box{
			background: #333;
			max-width: 70%;
			height: 100px;	
			padding: 10px;
			display: table;
			opacity: 0.7;
			position: absolute;
			bottom: 15%;
			margin: 1em;
			font: 1em "Lucida Grande";
			color: $corprimaria;
			}
			.ver-curso{
				background: #333;
				max-width: 15%;
				height: 10%;
				border: $corprimaria 2pt solid;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
				border-bottom-left-radius: 50%;
				border-bottom-right-radius: 50%;
				border-radius: 35%;
				text-align: center;
				padding: 0.4em;
				display: table;
				opacity: 0.7;
				position: absolute;
				top:50%;
				margin: 1em;
				font: 1em "Lucida Grande";
				color: $corprimaria;
			}
		}
	}

	.cursos{
		align-content: center;
		padding:05%;
		background-color: $corsecundaria;
		height: auto;
		
		.curso-itens{
			
			display: grid;
			grid-template-columns: 25% 25% 25% 25%; 
			height: auto;
			max-width: 100%;

			.curso-item{
				height: auto;
				max-width: 100%;
				margin: 1em;
				background: $corprimaria;

				.curso-item-img{
					width: 100%;
					overflow: hidden;
				}
				.curso-item-titulo h3 {
					font-size: 1em;
					padding: 0.5em 0.5em 0.2em 0.5em;
					white-space: normal;
					

				}
				.curso-item-desc{
					p{
						font-size: 0.6em;
    					padding: 0em 1em 1em 1em;
					}
				}
				.button a{
					cursor: pointer;
					text-decoration: none;
					background-color: $btcurso;
					color: $corprimaria;
					border-radius: 50px;
				}
				.button a:hover{
					background-color:$btcursoh;
				}
			}
		}
	}
	footer{
		max-width: 100%;
		.logo{
			max-width: 50%;
			height: 85%;
			background: $corsecundaria;
		}
		.email{
			max-width:25%;
		}
		.social{
			margin: 1em;
			max-width: 25%;
		}
		.contato	ul{
			list-style: none;
			display: table;
			position: relative;
		}
		.contato ul li{
		/*	max-width: 100%;
			height: 200px;*/
			display: inline-block;
			position: relative;
		
		}
		span{
			background: $corsecundaria;
			font-size: 0.75em;
			max-width: 100%;
			height: 15%;
			color: #555;
		}
	}
}