* {
  margin: 0;
  padding: 0;
}

body {
  /*max-width: 100%; padding: 0% 15%;*/
}

.content nav.menu-bar {
  display: inline-flex;
  height: 76px;
}
.content nav.menu-bar .logo {
  display: inline;
  background: #EFEFEF;
}
.content nav.menu-bar .pesquisar {
  display: inline;
}
.content nav.menu-bar .perfil {
  display: inline;
}
.content section#galeria {
  background: #fff;
  max-width: 100%;
  height: 200px;
  display: block;
  overflow: hidden;
  box-shadow: #999 0 0 15px;
  margin: 50px auto;
}
.content section#galeria section#buttons {
  display: none;
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 500;
}
.content section#galeria section#buttons a {
  background: #333;
  max-width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font: 22pt arial, "Helvetica Neue", Helvetica;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}
.content section#galeria section#buttons a:hover {
  background: #555;
}
.content section#galeria ul {
  list-style: none;
  display: table;
  position: relative;
}
.content section#galeria ul li {
  max-width: 100%;
  height: 200px;
  display: inline-block;
  position: relative;
}
.content section#galeria ul li img {
  width: 100%;
  height: 100%;
}
.content section#galeria ul li .slider-box {
  background: #333;
  max-width: 70%;
  height: 100px;
  padding: 10px;
  display: table;
  opacity: 0.7;
  position: absolute;
  bottom: 15%;
  margin: 1em;
  font: 1em "Lucida Grande";
  color: #fff;
}
.content section#galeria ul li .ver-curso {
  background: #333;
  max-width: 15%;
  height: 10%;
  border: #fff 2pt solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-radius: 35%;
  text-align: center;
  padding: 0.4em;
  display: table;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  margin: 1em;
  font: 1em "Lucida Grande";
  color: #fff;
}
.content .cursos {
  align-content: center;
  padding: 5%;
  background-color: #EFEFEF;
  height: auto;
}
.content .cursos .curso-itens {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: auto;
  max-width: 100%;
}
.content .cursos .curso-itens .curso-item {
  height: auto;
  max-width: 100%;
  margin: 1em;
  background: #fff;
}
.content .cursos .curso-itens .curso-item .curso-item-img {
  max-width: 100%;
  overflow: hidden;
}
.content .cursos .curso-itens .curso-item .curso-item-titulo h3 {
  font-size: 1em;
  padding: 0.5em 0.5em 0.2em 0.5em;
  white-space: normal;
}
.content .cursos .curso-itens .curso-item .curso-item-desc p {
  font-size: 0.6em;
  padding: 0em 1em 1em 1em;
}
.content .cursos .curso-itens .curso-item .button a {
  cursor: pointer;
  text-decoration: none;
  background-color: #01A02A;
  color: #fff;
  border-radius: 50px;
}
.content .cursos .curso-itens .curso-item .button a:hover {
  background-color: #016B21;
}
.content footer {
  max-width: 100%;
}
.content footer .logo {
  max-width: 50%;
  height: 85%;
  background: #EFEFEF;
}
.content footer .email {
  max-width: 25%;
}
.content footer .social {
  margin: 1em;
  max-width: 25%;
}
.content footer .contato ul {
  list-style: none;
  display: table;
  position: relative;
}
.content footer .contato ul li {
  /*	max-width: 100%;
  	height: 200px;*/
  display: inline-block;
  position: relative;
}
.content footer span {
  background: #EFEFEF;
  font-size: 0.75em;
  max-width: 100%;
  height: 15%;
  color: #555;
}

/*# sourceMappingURL=style.css.map */
